@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine((
    header-background-color: #f0f3f8,

    odd-row-background-color: #f0f3f8,
    borders : false
  ));
  .ag-header-cell {
    background-color: #fff;
    color: #8492a4;
}

}